<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
      <a class="navbar-brand d-block d-sm-none" href="#">
          <img src="images/rejoj.webp" alt="Bootstrap" width="24" height="24">
      </a>

      <a class="navbar-brand d-none d-sm-block" href="#">Mi curriculum</a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-toggler"
          aria-controls="navbar-toggler" aria-expanded="false" aria-label="Toggle navigation">
          <div></div>
          <div></div>
          <div></div>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbar-toggler">
          <ul class="navbar-nav mb-2 mb-lg-0">
              <li class="nav-item"><a class="nav-link" aria-current="page" routerLink="/">Inicio</a></li>
              <li class="nav-item"><a class="nav-link" routerLink="/about">Quienes somos</a></li>
              <li class="nav-item"><a class="nav-link"  routerLink="/login">Login</a></li>
          </ul>
      </div>
  </div>
</nav>
